{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
<div class="container text-center">
<h1 class="text-center m-5">Weekly Tasks</h1>
  <div class="row ">
    <div class="col">
     <img src="https://cdn.pixabay.com/photo/2020/02/24/16/06/whiteboard-4876651_1280.jpg" width="500px">
    </div>
    <div class="col text-center text-uppercase fs-1 mt-5">
     “The best time to plant a tree was 20 years ago. <br>
     The second best time is now.” 
    </div>
  </div>
{% endblock %}
